<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/Content/themes/base/jquery.ui.all.css" />
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/kendo.common.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/kendo.metro.min.css" />

    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/underscore-min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.js"></script>
    <script type="text/javascript" src="/Scripts/kendo.web.min.js"></script>
    

    <script type="text/javascript" src="/Scripts/sympleTech_Ajax.js"></script>
    <script type="text/javascript" src="/Scripts/sympleTech_KendoGrid.js"></script>

    <title>Ghetto Symple Lib Tests</title>
</head>
    <body style="padding: 15px;">
        <div class="row-fluid">
            <div class="span3">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/Ajax/">sympleTech_Ajax Tests</a></li>
                    <li><a href="/KendoGrid/">sympleTech_KendoGrid Tests</a></li>
                    <li><a href="/KendoGrid/MultiSelect/">sympleTech_KendoGrid_MultiSelect Tests</a></li>
                </ul>
            </div>
            <div class="span9">
                <div class="well">
                    @RenderBody()   
                </div>
            </div>
        </div>
    </body>
</html>
