<div class="row">
    <div class="pull-right">
        <a href="/Grid/Abstracted">Abstracted</a>
    </div>    
</div>



<script type="text/javascript">
    $(function () {
        var gridDataSource = new kendo.data.DataSource({
            transport : {
                read: '/Grid/DataSource'
            },
            schema: {
                data: function (data) {
                    return data.Items;
                },
                total: function (data) {
                    return data.TotalCount;
                }
            },
            serverSorting: true,
            serverFiltering: true,
            serverPaging: true,
            pageSize: 5
        });

        $("#data-grid").kendoGrid({
            dataSource: gridDataSource,
            pageable: {
                refresh: true,
                pageSizes: true
            },
            sortable: true,
            selectable: "row",
            change: function (arg) {
                var selected = $.map(this.select(), function (item) {
                    return $(item).find('td').first().text();
                });
                alert(selected);
            },
            columns: [
                { field: "id" },
                { field: "LastName", filterable: true, sortable: true },
                { field: "FirstName", filterable: true, sortable: true },
                { field: "City", filterable: true, sortable: true },
                { field: "State", filterable: true, sortable: true }
            ],
            dataBound: function (e) {
                $(".k-grid .k-grid-header colgroup col").first().remove();
                $(".k-grid .k-grid-content colgroup col").first().remove();
                $(".k-grid thead th").first().hide();
                $(".k-grid-content tbody tr").each(function () {
                    $(this).find('td').first().hide();
                });
            }
        });
    });



</script>


<div id="data-grid"></div>