@{
    ViewBag.Title = "NoResults";
}

<style type="text/css">
     .hoverable:hover {
         background: azure;
         cursor: pointer;
     }
 </style>

<script type="text/javascript">
    $(function () {
        var grid = $("#data-grid").sympleTech_KendoGrid(
        {
            title: "Sample Grid",
            dataSourceURL: "/KendoGrid/EmptyDataSource/",
            //dataSourceURL: "/KendoGrid/DataSource/",
            columns: [
                { field: "LastName", title: "Last Name", filterable: true, sortable: true, width: 300 },
                { field: "FirstName", filterable: true, sortable: true },
            ],
            pagesize: 5,
            dataBound: function (e, gridDataSource) {

            },
            multiSelectable: true,
            onRowSelected: function (id) {

            }
        });
    });
</script>

<h2>sympleTech_KendoGrid.js Tests</h2>
<div id="data-grid"></div>