<script type="text/javascript">
    $(function () {
        var gridDataSource = new kendo.data.DataSource({
            transport: {
                read: '/KendoGrid/GetData'
            },
            pageSize: 5
        });

        var grid = $("#kGrid").kendoGrid({
            dataSource: gridDataSource,
            columns: [
                { field: "LastName", title: "Last Name", filterable: true, sortable: true, width: 300 },
                { field: "FirstName", filterable: true, sortable: true }
            ],
            dataBound: function () {
                //Get the number of Columns in the grid
                var colCount = $("#kGrid").find('.k-grid-header colgroup > col').length;

                //If There are no results place an indicator row
                if (gridDataSource._view.length == 0) {
                    $("#kGrid").find('.k-grid-content tbody')
                        .append('<tr class="kendo-data-row"><td colspan="' +
                            colCount +
                            '" style="text-align:center"><b>No Results Found!</b></td></tr>');
                }

                //Get visible row count
                var rowCount = $("#kGrid").find('.k-grid-content tbody tr').length;

                //If the row count is less that the page size add in the number of missing rows
                if (rowCount < gridDataSource._take) {
                    var addRows = gridDataSource._take - rowCount;
                    for (var i = 0; i < addRows; i++) {
                        $("#kGrid").find('.k-grid-content tbody')
                            .append('<tr class="kendo-data-row"><td>&nbsp;</td></tr>');
                    }
                }
            }
        });
    });
</script>

<div id="kGrid"></div>